body {
  margin:0px;
}

/* ----------------------- HEADER ------------------------------- */

header {
  background-image: url(images/apple-pie.jpg);
  background-size: cover;
  height: 700px;
  color: white;
}

header h1 {

  text-align: center;
  line-height: 700px;
  font-size: 70px;
}



/* ----------------------- SECTION 1 ------------------------------- */

.ingredients h1 {
  display: inline-block;
  position: relative;
  left: 350px;
}

.ingredients ul {
  position: relative;
  left: 350px;
}

.pieIntro {
  text-align: center;
}

.recipe-info {
  position: relative;
  left: 350px;
}





/* ----------------------- SECTION 2------------------------------- */

.directions h1 {
  display: inline-block;
  position: relative;
  left: 350px;
}

.directions ol {
  position: relative;
  left: 350px;
}


.cooking-info { 
  position: relative;
  left: 350px;
}








/* ----------------------- SECTION 3 ------------------------------- */